* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.app {
  background-color: #1A120B;
}
.custom-card {
  box-shadow: 1px 1px 15px black;
  background-color: #3C2A21;
}
.styled-nav {
  background-color: #3C2A21;
}
.cursor-pointer {
  cursor: pointer;
}
.spinner {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.spinner > div {
  height: 45px;
  width: 45px;
}
.ant-modal, .ant-modal-content {
  background-color: #3C2A21 !important;
}
input, select, textarea {
  min-height: 45px !important;
  border: 1px solid #b9b9b9 !important;
  width: 100% !important;
}
input:focus {
  outline: none !important;
  border: 1px solid #b9b9b9 !important;
}
label {
  color: white !important;
}
button {
  height: 45px !important;
  color: #1A120B !important;
}
a {
  color: #E5E5CB !important;
}
table {
  border: 3px solid #503f36;
}
i {
  font-size: 20px;
}

